<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="fradoos">
            <directory>./test/</directory>
        </testsuite>
        <testsuite name="Application">
            <directory>./test/Application</directory>
        </testsuite>
        <testsuite name="Domain">
            <directory>./test/Domain</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory>./test/Infrastructure</directory>
        </testsuite>
        <testsuite name="Presentation">
            <directory>./test/Application/Presentation</directory>
        </testsuite>
        <testsuite name="Helper">
            <directory>./test/Domain/Helper</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/*</directory>
            <exclude>
                <directory suffix=".php">src/Infrastructure/Repository/Doctrine/Mapping</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>