<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="all">
            <directory>./test/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>./test/</directory>
            <exclude>./test/Infrastructure</exclude>
        </testsuite>
        <testsuite name="infra">
            <directory>./test/Infrastructure</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/*</directory>
            <exclude>
                <directory suffix=".php">src/Infrastructure/Repository/Doctrine/Mapping</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>